# nodejs stuff
node_modules/
package-lock.json
yarn.lock

# output files
icons.json
icons.zip
icons.css
icons.svg
icons.js
icons.tsx
icons.d.ts

# output documentation site
www

# other files
.DS_Store
