## Output files and folders
www/
icons.json
icons.zip
icons/

## Output packages
packages/react/index.*.js
packages/svg/icons
packages/svg/sprite.svg

## Other files and folders
node_modules/
package-lock.json
yarn.lock
