:root,
*:before {
    {{#each icons}}
    --josemi-icons-{{name}}: url("data:image/svg+xml;utf8,{{=svg path}}") no-repeat;
    {{/each}}
}

[class^="ji-"],
[class*=" ji-"] {
    align-self: center;
    display: inline-flex;
    line-height: 1;
    text-rendering: auto;
    vertical-align: -0.125em;
}
[class^="ji-"]:before,
[class*=" ji-"]:before {
    content: "''";
    background-color: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
}
{{#each icons}}
.ji-{{name}}:before {
    mask: var(--josemi-icons-{{name}}) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--josemi-icons-{{name}}) no-repeat;
    -webkit-mask-size: 100% 100%;
}
{{/each}}
